// body
$color-body: #fff               // body
// head
$color-head-bg: #146cdc         // head
$color-head-btn-bg: #2b5cc3     //head button

// marquee
$color-marquee-bg: #f5f5f5   // marquee bg
$color-marquee-border-bottom-bg: #d3d3d3

// advertisement
$color-ads-bg: #f7f7f7
$color-ads-span-border: #cccccc
$color-ads-span: #333333

// footer
$color-footer-bg: #2a2a2a
$color-footer-p: #7c7c7c
